<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button
      label="New"
      icon="pi pi-plus"
      class="mr-2"
      (onClick)="openNew()"
    />
    <p-button
      severity="danger"
      label="Delete"
      icon="pi pi-trash"
      outlined
      (onClick)="deleteMultipleStuff()"
      [disabled]="!isAnyCheckboxSelected()"
    />
  </ng-template>
</p-toolbar>
<div class="card">
  <p-toast />
  <p-table
    #dt
    [value]="ourStuffs"
    [columns]="cols"
    showGridlines
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            placeholder="Search..."
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header let-columns>
      <tr>
        <th>Code</th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="rowData.selected"
            (onChange)="onCheckboxChange()"
          />
        </td>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
          <div class="d-flex">
            <!-- Edit Button -->
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              (onClick)="editStuff(rowData.id)"
            />
            <!-- Delete Button -->
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (onClick)="deleteSelectedStuff(rowData.id)"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="showDialog"
    [style]="{ width: '450px' }"
    [header]="stuff.id ? 'Edit Stuff' : 'Create New Stuff'"
    [modal]="true"
    [dismissableMask]="false"
  >
    <ng-template #content>
      <form
        (ngSubmit)="stuff.id ? updateStuff() : createNewStuff()"
        #stuffForm="ngForm"
      >
        <div class="flex flex-col gap-6">
          <div>
            <label for="name" class="block font-bold mb-3">Name</label>
            <input
              type="text"
              pInputText
              id="name"
              [(ngModel)]="stuff.name"
              name="name"
              required
            />
          </div>

          <div>
            <label for="position" class="block font-bold mb-3">Position</label>
            <input
              type="text"
              pInputText
              id="position"
              [(ngModel)]="stuff.position"
              name="position"
              required
            />
          </div>

          <div>
            <label for="start_from" class="block font-bold mb-3"
              >Start From</label
            >
            <input
              type="date"
              pInputText
              id="start_from"
              [(ngModel)]="stuff.start_from"
              name="start_from"
              required
            />
          </div>

          <div>
            <label for="contact_normal" class="block font-bold mb-3"
              >Contact Normal</label
            >
            <input
              type="text"
              pInputText
              id="contact_normal"
              [(ngModel)]="stuff.contact_normal"
              name="contact_normal"
              required
            />
          </div>

          <div>
            <label for="address" class="block font-bold mb-3">Address</label>
            <input
              type="text"
              pInputText
              id="address"
              [(ngModel)]="stuff.address"
              name="address"
              required
            />
          </div>

          <div>
            <label for="salary_wages" class="block font-bold mb-3"
              >Salary Wages</label
            >
            <p-inputNumber
              id="salary_wages"
              [(ngModel)]="stuff.salary_wages"
              name="salary_wages"
              required
            />
          </div>

          <div>
            <label for="benifits" class="block font-bold mb-3">Benefits</label>
            <input
              type="text"
              pInputText
              id="benifits"
              [(ngModel)]="stuff.benifits"
              name="benifits"
              required
            />
          </div>

          <div>
            <label for="vacation_peroid" class="block font-bold mb-3"
              >Vacation Period</label
            >
            <p-inputNumber
              id="vacation_peroid"
              [(ngModel)]="stuff.vacation_peroid"
              name="vacation_peroid"
              required
            />
          </div>

          <div>
            <label for="training_records" class="block font-bold mb-3"
              >Training Records</label
            >
            <input
              type="text"
              pInputText
              id="training_records"
              [(ngModel)]="stuff.training_records"
              name="training_records"
              required
            />
          </div>

          <div>
            <label for="contact_emergency" class="block font-bold mb-3"
              >Emergency Contact</label
            >
            <input
              type="text"
              pInputText
              id="contact_emergency"
              [(ngModel)]="stuff.contact_emergency"
              name="contact_emergency"
              required
            />
          </div>

          <div>
            <label for="notes" class="block font-bold mb-3">Notes</label>

            <textarea
              rows="5"
              cols="30"
              pTextarea
              [(ngModel)]="stuff.notes"
              id="additional_notes"
              name="additional_notes"
            ></textarea>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template #footer>
      <p-button
        label="Cancel"
        icon="pi pi-times"
        (onClick)="showDialog = false; resetStuffForm()"
        styleClass="p-button-text"
      />
      <p-button
        type="submit"
        [label]="stuff.id ? 'Update' : 'Save'"
        icon="pi pi-check"
        (onClick)="stuffForm.ngSubmit.emit()"
        [disabled]="!stuffForm || stuffForm.invalid"
      />
    </ng-template>
  </p-dialog>

  <!-- Paginator -->
  <div class="card flex justify-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="total"
      [rowsPerPageOptions]="[10, 20]"
    />
  </div>

  <!-- Confirm Dialog for Delete -->
  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
