<div class="card">
  <p-table [value]="cartOrOrder" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <span class="text-xl font-bold">Products</span>
        <p-button icon="pi pi-refresh" rounded raised />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Serial No</th>
        <th>User Id</th>
        <th>Customer Name</th>
        <th>Date</th>
        <th>Purchased Items</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cart>
      <tr>
        <td>{{ cart.id }}</td>
        <td>{{ cart.userId }}</td>
        <td>
          <app-customerinformation
            [userId]="cart.userId"
          ></app-customerinformation>
        </td>
        <td>{{ cart.date }}</td>
        <td>
          <button (click)="showPurchasedItems()">
            {{ cart.products.length }}
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      In total there are {{ cartOrOrder ? cartOrOrder.length : 0 }} Customer.
    </ng-template>
  </p-table>
</div>
