.p-drawer-right-width {
  width: 30rem !important;
}

.p-textarea {
  width: 100%;
}


.p-paginator-page.p-paginator-page-selected
{
  background-color: #E6E6E6 !important;
}

.p-datepicker{
  width: 100% !important;
}


