.p-datatable-tfoot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-paginator-page.p-paginator-page-selected
{
  background-color: rgb(255, 255, 152);
}


.text-red-500{
  color: rgba(red,0.5);
}


table,.p-table
{
  thead{
    background-color: red;
    tr{
      th{
        text-align: center;
      }
    }
  }
  tbody{
    tr{
      td{
        text-align: center;
      }
    }
  }
}

.p-datatable-tbody > tr > td
{
  text-align: center;
  &:nth-child(2){
    text-align: start;
  }
}
