<!-- <section class="layout">
  <div class="topbar">
    <app-topbar />
  </div>

  <div class="content-wrapper">
    <main class="main-content">
      <router-outlet />
    </main>
  </div>

  <ng-container *ngIf="showTilesContainer">
    <div
      class="xen-position-fixed xen-bottom-0 xen-border-gray xen-border-1px xen-border-radius-5 xen-top-80px"
      style="
        width: 500px;
        background-color: #fff;
        border: 1px solid red;
        border-radius: 8px;
      "
    >
      <app-tiles></app-tiles>
    </div>
  </ng-container>
  <button
    (click)="toggleTileContainer()"
    class="xen-left-5px xen-bottom-1 xen-border-radius-5 xen-position-fixed xen-padding-8 xen-z-500"
    style="background: teal; color: #fff"
  >
    <i class="pi pi-table"></i>
  </button>
  <app-footer></app-footer>
</section> -->

<div class="xen-topbar-position xen-top-0 xen-bg-head xen-z-500">
  <app-topbar />
</div>

<main
  style="max-height: 90vh; overflow-y: auto; margin-top: 50px; display: flex"
>
  <div style="flex-grow: 1">
    <router-outlet />
  </div>
</main>

<ng-container *ngIf="showTilesContainer">
  <div>
    <app-tiles></app-tiles>
  </div>
</ng-container>

<button
  (click)="toggleTileContainer()"
  class="xen-left-5px xen-bottom-1 xen-border-radius-5 xen-position-fixed xen-padding-10 xen-z-500 xen-d-flex xen-justify-content-center xen-align-items-center"
  style="background: teal; color: #fff"
>
  <i class="pi pi-table xen-font-size-l"></i>
</button>

<div class="xen-topbar-position xen-bottom-0 xen-bg-footer">
  <app-footer></app-footer>
</div>
