<section class="layout">
  <!-- Topbar -->
  <div class="topbar">
    <app-topbar />
  </div>

  <!-- Sidebar and Main Content -->
  <div class="content-wrapper">
    <div class="sidebar">
      <app-sidebar />
      <button
        class="xen-left-5px xen-bottom-1 xen-border-radius-5 xen-position-fixed xen-padding-8 xen-z-500"
        style="background: teal; color: #fff"
      >
        <i class="pi pi-table"></i>
      </button>
    </div>
    <main class="main-content">
      <router-outlet />
    </main>
  </div>
</section>
