$xs: 12px;
$sm: 14px;
$md: 16px;
$lg: 20px;
$xl: 24px;
$xxl:32px;

// margin and padding
$max-margin: 32px;
$max-padding:32px;

// color
$primary_color:#1d4ed8;
$text-color:#4b5563;
$white_color:#FFFFFF;
