<div *ngIf="userInformation" class="card flex justify-center">

  <p-button (click)="showDialog()" class="text-transform-capitalize"> {{ userInformation.name.firstname }}
    {{ userInformation.name.lastname }} </p-button>
  <div class="card flex justify-center">
    <p-dialog
      header="Customer Information"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '25rem' }"
    >
      <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username :</label>
        <span class="flex-auto">{{ userInformation.username }}</span>
      </div>
      <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email :</label>
        <span class="flex-auto">{{ userInformation.email }}</span>
      </div>
      <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Phone :</label>
        <span class="flex-auto">{{ userInformation.phone }}</span>
      </div>

      <div *ngIf="readMore">
        <p>User Address</p>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">City:</label>
          <span class="flex-auto text-transform-capitalize">{{
            userInformation.address.city
          }}</span>
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">street:</label>
          <span class="flex-auto text-transform-capitalize">{{
            userInformation.address.street
          }}</span>
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">street Number:</label>
          <span class="flex-auto text-transform-capitalize">{{
            userInformation.address.number
          }}</span>
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">zipcode:</label>
          <span class="flex-auto text-transform-capitalize">{{
            userInformation.address.zipcode
          }}</span>
        </div>
      </div>
      <p-button
        (click)="toggleReadMore()"
        [label]="readMore ? 'Read less' : 'Read More'"
      ></p-button>
    </p-dialog>
  </div>
</div>
