.start-menu {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 2px;
  width: 400px;
  background: #FFFF;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid teal;
}

.app-grid, .folder-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.app-grid div, .folder {
  background: #444;
  padding: 10px;
  border-radius: 5px;
  cursor: grab;
}

.folder {
  padding: 15px;
  background: #333;
}

.folder-header {
  font-weight: bold;
  margin-bottom: 5px;
}
