

<div class="start-menu">
  <div class="app-grid" cdkDropList [cdkDropListData]="apps" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let app of apps" cdkDrag>{{ app }}</div>
  </div>

  <button (click)="createFolder()">Create Folder</button>

  <div class="folder-grid">
    <div *ngFor="let folder of folders" class="folder" cdkDropList [cdkDropListData]="folder.items" (cdkDropListDropped)="drop($event)">
      <div class="folder-header" cdkDrag>{{ folder.name }}</div>
      <div *ngFor="let item of folder.items" cdkDrag>{{ item }}</div>
    </div>
  </div>
</div>
