<section class="xen-tiles border border-radius-10px">
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          placeholder="Search..."

        />
      </p-iconfield>
    </div>
  </ng-template>

  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
  <a routerLink="/our_stuff" class="card"> Stuff </a>
</section>
