<div class="sidebar">
  <ul class="sidebar-links">
    <li><a routerLink="/" class="sidebar-link">Cart</a></li>
    <!-- <li><a routerLink="/products" class="sidebar-link">Products</a></li>
    <li><a routerLink="/users" class="sidebar-link">Users</a></li>
    <li><a routerLink="/product-customization" class="sidebar-link">Customisation</a></li>
    <li><a routerLink="transaction" class="sidebar-link">Transaction</a></li>
    <li><a routerLink="roles" class="sidebar-link">Roles</a></li>
    <li><a routerLink="permissions" class="sidebar-link">Permissions</a></li> -->
    <li><a routerLink="our_stuff" class="sidebar-link">Stuff</a></li>
  </ul>

  <div class="sidebar-footer">
    <p>&copy; 2024 Your Company</p>
    <ul class="footer-links">
      <li><a href="/privacy-policy" class="footer-link">Privacy Policy</a></li>
      <li><a href="/terms" class="footer-link">Terms of Service</a></li>
    </ul>
  </div>
</div>
